@use 'reset';
@use 'navbar';
@use 'mixinsfunc';
@use 'variables';


.hero{
    @include mixinsfunc.crear-flexbox(center,center);
    gap: 2;
    height: 100vh;
    background-color: variables.$color-five;

    &__text{
        padding: 1rem;

        &--subt{
            font-weight: 400;
            font-size: 2rem;
            margin-bottom: 1rem;
            color: variables.$color-primary;
        }

        &--title{
            font-size: 4rem;
            margin-bottom: 1.5rem;
            color: variables.$color-second;
        }
        
        &--parrafo{
            width: 40rem;
            font-size: 1.6rem;
            margin: .5rem;
        }

        &--precio{
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 2rem;
            color: variables.$color-second;
        }

        &--btn{
            margin-top: 2rem;
            font-size: 2rem;
            background-color: variables.$color-primary;
            padding: .5rem 1.5rem;
            border-radius: .7rem;
            color: variables.$color-third;

            &:hover{
                background-color: variables.$color-second;
            }
        }
    }

    &__imagen{
        max-width: 100%;
        width: 40rem;
        object-fit: cover; 
    }

    @media (max-width: 850px){
        height: auto;
        flex-wrap: wrap;
        padding-top: 5rem;

        &__text{
            margin-bottom: 4rem;
        }
    }

    @media (max-width: 576px){

        &__text{
            text-align: center;

            &--parrafo{
                font-size: 1.4rem;
            }
            
        }
    }

    @media (max-width: 480px){

        &__text{
            &--parrafo{
                width: 30rem;
            }
            
        }
    }
    @media (max-width: 320px){

        &__text{
            &--parrafo{
                width: 25rem;
            }
            
        }
    }
}